<html>
<head>
<title>activity_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { }
.s1 { }
.s2 { color: rgb(0,0,128); font-weight: bold; }
.s3 { color: rgb(0,0,255); font-weight: bold; }
.s4 { color: rgb(0,128,0); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_main.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0"> 
</span><span class="s1">&lt;</span><span class="s2">LinearLayout</span><span class="s1"> 
    </span><span class="s3">android:orientation=</span><span class="s4">&quot;vertical&quot;</span><span class="s1"> 
    </span><span class="s3">android:layout_width=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
    </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
    </span><span class="s3">xmlns:android=</span><span class="s4">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s1">&gt;</span><span class="s0"> 
 
    </span><span class="s1">&lt;</span><span class="s2">TextView</span><span class="s1"> 
        </span><span class="s3">android:layout_width=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_height=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
        </span><span class="s3">android:text=</span><span class="s4">&quot;0&quot;</span><span class="s1"> 
        </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/textView&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_gravity=</span><span class="s4">&quot;center_horizontal&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
    </span><span class="s1">&lt;</span><span class="s2">LinearLayout</span><span class="s1"> 
        </span><span class="s3">android:orientation=</span><span class="s4">&quot;horizontal&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_width=</span><span class="s4">&quot;match_parent&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_height=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot;</span><span class="s1">&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;AC&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/AC&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;2&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;C&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/C&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_gravity=</span><span class="s4">&quot;right&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;BS&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/BS&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
    </span><span class="s1">&lt;/</span><span class="s2">LinearLayout</span><span class="s1">&gt;</span><span class="s0"> 
    </span><span class="s1">&lt;</span><span class="s2">LinearLayout</span><span class="s1"> 
        </span><span class="s3">android:orientation=</span><span class="s4">&quot;horizontal&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_width=</span><span class="s4">&quot;match_parent&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_height=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
        </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot;</span><span class="s1">&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;MR&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/MR&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;MC&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/MC&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_gravity=</span><span class="s4">&quot;right&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;M+&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/Madd&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;M-&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/Msub&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_gravity=</span><span class="s4">&quot;center_horizontal&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
    </span><span class="s1">&lt;/</span><span class="s2">LinearLayout</span><span class="s1">&gt;</span><span class="s0"> 
    </span><span class="s1">&lt;</span><span class="s2">LinearLayout</span><span class="s1"> 
        </span><span class="s3">android:orientation=</span><span class="s4">&quot;horizontal&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_width=</span><span class="s4">&quot;match_parent&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_height=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot;</span><span class="s1">&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;7&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/i7&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;8&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/i8&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_gravity=</span><span class="s4">&quot;right&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;9&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/i9&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;/&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/wari&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_gravity=</span><span class="s4">&quot;center_horizontal&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
    </span><span class="s1">&lt;/</span><span class="s2">LinearLayout</span><span class="s1">&gt;</span><span class="s0"> 
 
    </span><span class="s1">&lt;</span><span class="s2">LinearLayout</span><span class="s1"> 
        </span><span class="s3">android:orientation=</span><span class="s4">&quot;horizontal&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_width=</span><span class="s4">&quot;match_parent&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_height=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot;</span><span class="s1">&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;4&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/i4&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;5&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/i5&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_gravity=</span><span class="s4">&quot;right&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;6&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/i6&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;*&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/kake&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_gravity=</span><span class="s4">&quot;center_horizontal&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
    </span><span class="s1">&lt;/</span><span class="s2">LinearLayout</span><span class="s1">&gt;</span><span class="s0"> 
 
    </span><span class="s1">&lt;</span><span class="s2">LinearLayout</span><span class="s1"> 
        </span><span class="s3">android:orientation=</span><span class="s4">&quot;horizontal&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_width=</span><span class="s4">&quot;match_parent&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_height=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot;</span><span class="s1">&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;1&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/i1&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;2&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/i2&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_gravity=</span><span class="s4">&quot;right&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;3&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/i3&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;+&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/tasu&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_gravity=</span><span class="s4">&quot;center_horizontal&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
    </span><span class="s1">&lt;/</span><span class="s2">LinearLayout</span><span class="s1">&gt;</span><span class="s0"> 
 
    </span><span class="s1">&lt;</span><span class="s2">LinearLayout</span><span class="s1"> 
        </span><span class="s3">android:orientation=</span><span class="s4">&quot;horizontal&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_width=</span><span class="s4">&quot;match_parent&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_height=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
        </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot;</span><span class="s1">&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;-&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/minas&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;buttonMethod&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
        </span><span class="s1">&lt;</span><span class="s2">Button</span><span class="s1"> 
            </span><span class="s3">android:layout_width=</span><span class="s4">&quot;wrap_content&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_height=</span><span class="s4">&quot;fill_parent&quot;</span><span class="s1"> 
            </span><span class="s3">android:text=</span><span class="s4">&quot;=&quot;</span><span class="s1"> 
            </span><span class="s3">android:id=</span><span class="s4">&quot;@+id/equal&quot;</span><span class="s1"> 
            </span><span class="s3">android:layout_weight=</span><span class="s4">&quot;1&quot;</span><span class="s1"> 
            </span><span class="s3">android:onClick=</span><span class="s4">&quot;onEqualClick&quot; </span><span class="s1">/&gt;</span><span class="s0"> 
 
    </span><span class="s1">&lt;/</span><span class="s2">LinearLayout</span><span class="s1">&gt;</span><span class="s0"> 
 
</span><span class="s1">&lt;/</span><span class="s2">LinearLayout</span><span class="s1">&gt;</span></pre>
</body>
</html>